[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
db-utils = {editable = true,path = "./../../common/db"}
ipython = "*"

[packages]

[requires]
python_version = "3.8"
